input{
    &.btn{
        padding: 10px 20px;
    }
}
.btn{
    border: 2px solid rgb(72, 76, 77);
    border-radius: 8px;
    background-color: transparent;
    padding: 6px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
     transition: 0.3s ease;
     appearance: none;
     outline: none;
     &-full{
         width: 100%;
         margin-top: 20px;
         margin-bottom: 20px;

     }
     &--off{
        background-color: rgba(153, 107, 38, 0.2);
     }
    &:hover{
        background-color: rgba(72, 76, 77, 0.1);
        border: 2px solid rgba(72, 76, 77, 0.1);
        transition: 0.3s ease;
    }
}