.tasks{
    margin-top : 30px;
    >.task{
        position: relative;
        background-color: rgba(72, 76, 77, 0.08);
        margin:0 2px 14px 2px;
        padding: 20px 30px 20px 30px;
        border-radius: 8px;
        cursor: pointer;
        &.task--remind{
            border: 2px solid rgb(146, 115, 68);
            margin:0 0 10px 0;
            padding: 18px 30px 22px 30px;
        }
        h3{
            font-size: 20px;
            margin-bottom: 8px;
            letter-spacing: 1px;
        }
        p{
            opacity: 0.7;
        }
        i{
            position: absolute;
            top: 6px;
            right: 6px;
            font-size: 24px;
            color: rgb(190, 63, 63);
            cursor: pointer;
            transition: 0.3s ease;
            &:hover{
                color: rgb(126, 41, 41);
                transition: 0.3s ease;
            }
        }
    }
}